body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

#header {
    display:flex;
    flex-direction:column;
    padding: 1%;
}

#main {
    display:flex;
    justify-content: center;
    border: solid 1px red;
   
}

#container {

    width: 500px;
    height: 500px;
    display: grid;
 

}

box{
    border: solid 1px black;
    box-sizing: border-box;
    
}

button{
   align-self: start; /*Prevents button from stretching to width of header*/
}
/* to do: container needs to remain the same, 
size of boxes needs to change depending on number */