#container {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;



}

box {
    border: solid 1px black;
    width: 6%;
    height: 6%;
    padding-bottom: 6%; /* Same as width, sets height */
    /*margin-bottom: 2%; /* (100-16*6)/2 */
    position: relative;
}