body {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    display:flex;
    flex-direction:column;
    padding: 1%;
}

#main {
    display:flex;
    justify-content: center;
    border: solid 1px red;
}

#container {
    display:flex;
    flex-wrap:wrap;
    width: 40%; /*Resize container*/
    
}

box {
    border: solid 1px black;
    width: 6%; /*Create square boxes*/
    height: 6%;
    padding-bottom: 6%; /* Same as width, sets height */
    position: relative;
    box-sizing: border-box;
}

button{
   align-self: start; /*Prevents button from stretching to width of header*/
}
/* to do: container needs to remain the same, 
size of boxes needs to change depending on number */